// Auto genetated file
[
{
"name" : "argon - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" }
}
,
{
"name" : "argon - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "argon - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "argon" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - sparc_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - sparc_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - x86_32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - x86_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - armeb_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - arm_eabi - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - aarch64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - aarch64eb - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - rv64ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - rv32ifdq - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - mips_o32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - mips_n32 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - mips_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
,
{
"name" : "sign_check - mipsel_64 - NO EXPLORE" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "sign_check" ,
"raw_options": { "-no-results": "true" } 
}
]
