// Auto genetated file
[
{
"name" : "verify - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "verify" 
}
,
{
"name" : "verify - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "verify" 
}
,
{
"name" : "verify - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "verify" 
}
,
{
"name" : "verify - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "verify" 
}
,
{
"name" : "verify - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "verify" 
}
,
{
"name" : "verify - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "verify" 
}
,
{
"name" : "verify - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "verify" 
}
,
{
"name" : "verify - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "verify" 
}
,
{
"name" : "verify - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "verify" 
}
,
{
"name" : "verify - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "verify" 
}
,
{
"name" : "verify - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "verify" 
}
,
{
"name" : "verify - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "verify" 
}
,
{
"name" : "verify - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "verify" 
}
,
{
"name" : "verify - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "verify" 
}
,
{
"name" : "wipe - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "wipe" 
}
,
{
"name" : "wipe - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "wipe" 
}
,
{
"name" : "lock_unlock - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "lock_unlock" 
}
,
{
"name" : "lock_unlock - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "lock_unlock" 
}
,
{
"name" : "blake2b - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "blake2b" 
}
,
{
"name" : "argon - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "argon" 
}
,
{
"name" : "argon - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "argon" 
}
,
{
"name" : "argon - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "argon" 
}
,
{
"name" : "argon - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "argon" 
}
,
{
"name" : "argon - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "argon" 
}
,
{
"name" : "argon - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "argon" 
}
,
{
"name" : "argon - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "argon" 
}
,
{
"name" : "argon - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "argon" 
}
,
{
"name" : "argon - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "argon" 
}
,
{
"name" : "argon - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "argon" 
}
,
{
"name" : "argon - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "argon" 
}
,
{
"name" : "argon - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "argon" 
}
,
{
"name" : "argon - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "argon" 
}
,
{
"name" : "argon - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "argon" 
}
,
{
"name" : "key_exchange - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "key_exchange" 
}
,
{
"name" : "sign_check - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "sign_check" 
}
,
{
"name" : "hchacha - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "hchacha" 
}
,
{
"name" : "hchacha - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "hchacha" 
}
,
{
"name" : "chacha20_init - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_init - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "chacha20_init" 
}
,
{
"name" : "chacha20_x_init - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "chacha20_x_init - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "chacha20_x_init" 
}
,
{
"name" : "p1305 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "p1305" 
}
,
{
"name" : "p1305 - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "p1305" 
}
,
{
"name" : "x25519 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "x25519" 
}
,
{
"name" : "sha512 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - x86_32" ,
"files" : "all" ,
"machdep" : "x86_32" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - x86_64" ,
"files" : "all" ,
"machdep" : "x86_64" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - armeb_eabi" ,
"files" : "all" ,
"machdep" : "armeb_eabi" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - arm_eabi" ,
"files" : "all" ,
"machdep" : "arm_eabi" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - aarch64" ,
"files" : "all" ,
"machdep" : "aarch64" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - aarch64eb" ,
"files" : "all" ,
"machdep" : "aarch64eb" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - rv64ifdq" ,
"files" : "all" ,
"machdep" : "rv64ifdq" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - rv32ifdq" ,
"files" : "all" ,
"machdep" : "rv32ifdq" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - mips_o32" ,
"files" : "all" ,
"machdep" : "mips_o32" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - mips_n32" ,
"files" : "all" ,
"machdep" : "mips_n32" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - mips_64" ,
"files" : "all" ,
"machdep" : "mips_64" ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - mipsel_64" ,
"files" : "all" ,
"machdep" : "mipsel_64" ,
"main" : "sha512" 
}
]
